# Chapter 1: Fungsi di SQL

## Fungsi Scalar vs Fungsi Aggregate

Fungsi adalah metode yang digunakan untuk melakukan operasi data di database. Operasi ini bisa berupa kalkulasi numerik seperti sum, count, avg, etc; atau operasi non-numerik seperti string concatenations dan sub-strings. SQL Function dapat dibagi ke dalam 2 kategori, yaitufungsi scalar dan fungsi aggregate. Fungsi skalar dalam SQL digunakan untuk mengembalikan nilai tunggal (single value) dari suatu nilai input yang diberikan, sedangkan fungsi agregat dalam SQL digunakan untuk melakukan perhitungan pada sekelompok nilai dan kemudian mengembalikan nilai tunggal.

## Fungsi Skalar Matematika

1. abs(), mengembalikan nilai absolute dari nilai input.
2. ceiling(), mengembalikan nilai integer terbesar yang terdekat dengan nilai input.
3. floor(), mengembalikan nilai integer terkecil yang terdekat dengan input.
4. round(), mengembalikan nilai pembulatan dari nilai input.
5. sqrt(), mengembalikan nilai akar kuadrat dari nilai input.
6. mod(), mengembalikan nilai sisa hasil pembagian dari nilai iput.
7. exp(), mengembalikan nilai eksponensial dari nilai input.

# Chapter 2: Fungsi Text di SQL

## Fungsi Text

1. concat(), menggabungkan semua argumen/input, NULL value akan diabaikan.
2. spill_part(), membagi string/text berdasarkan delimiter/pemisah yang ditentukan, kemudian mengembaliakn value berdasarkan posisi string yang diinginkan (hitungan posisi mulai dari 1).
3. substr(), mengekstrak karakter/string yang diinginkan.
4. length(), menghitung jumlah karakter dalam string/text.
5. replace(), mengganti karakter dalam suatu string/text.
6. trim(), menghapus karakter dalam suatu string. 
7. upper(), mengubah huruf kecil ke huruf besar.
8. lower(), mengubah huruf besar ke huruf kecil.

# Chapter 3: Fungsi Aggregate dan Group By

## Fungsi Aggregate

1. SUM(), digunakan untuk menjumlahkan sekelompok nilai (baris) dalam satu kolom.
2. COUNT(), digunakan untuk menghitung jumlah baris.
3. AVG(), digunakan untuk menghitung nilai rata-rata dari suatu kolom.
4. MIN(), digunakan untuk menghitung nilai minimum dari suatu kolom.
5. MAX(), digunakan untuk menghitung nilai maksimum dari suatu kolom.
6. FIRST(), mengembalikan nilai pada baris pertama dari suatu kolom.
7. LAST(), mengembalikan nilai pada baris terakhir dari suatu kolom.

## Pengenalan GROUP BY

Untuk mengelompokkan data di SQL kita menggunakan GROUP BY Statement. GROUP BY statement akan mengelompokkan data yang bernilai sama ke dalam satu group, dan dengan menggunakan fungsi aggregate seperti (COUNT, MAX, MIN, SUM, AVG) kita bisa melakukan agregasi untuk untuk setiap group atau kelompok yang terbentuk. Hal penting yang perlu diperhatikan adalah: 
- GROUP BY digunakan dengan SELECT, artinya kolom yang digunakan di GROUP BY statement, juga perlu ditempatkan di SELECT.
- GROUP BY ditempatkan setelah WHERE, tetapi jika tidak menggunakan WHERE maka langsung ditempatkan setelah FROM. 
- Jika menggunakan ORDER BY, maka GROUP BY ditempatkan sebelum ORDER BY.  
Group by bisa dilakukan dengan single column ataupun multiple column. Seperti ini contohnya:
1. Grup by Single Column, data dikelompokkan menggunakan kriteria dari satu kolom saja, misalnya mengelompokkan data berdasarkan provinsi saja. 
2. Group by Multiple Column, data dikelompokkan menggunakan kriteria dari dua kolom atau lebih, misalnya mengelompokkan data berdasarkan province dan brand.
Intinya ketika ingin menggunakan GROUP BY, tentukan terlebih dahulu ingin berdasarkan colom apa. Kalau ingin mengelompokkan lebih dari satu kolom maka akan dikelompokkan sesuai urutan.

## Penggunaan CASE … WHEN….

CASE-statement akan mengevaluasi kondisi yang sudah ditentukan, dimulai dari condition1, dan akan mengembalikan hasil (result1), jika condition1 terpenuhi (TRUE). Jika tidak, maka condition2 akan dievaluasi, dan akan mengembalikan result2 jika condition2 terpenuhi, dst. Apabila tidak ada kondisi yang terpenuhi, maka result pada bagian ELSE yang akan dikembalikan.